apiVersion: batch/v1
kind: CronJob
metadata: { name: {{repo_slug}}-scheduled }
spec:
  schedule: "*/15 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          serviceAccountName: cron
          containers:
            - name: cron
              image: "{{image_registry}}/{{image_repository}}:{{image_tag}}"
