apiVersion: batch/v1
kind: CronJob
metadata:
  name: scheduled
spec:
  schedule: "*/15 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          serviceAccountName: cron
          containers:
            - name: cron
              image: {{image_registry}}/{{image_repository}}:{{image_tag}}
              command: ["/app/cron"]
