apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
spec:
  replicas: 1
  selector: { matchLabels: { app: {{repo_slug}}, role: worker } }
  template:
    metadata: { labels: { app: {{repo_slug}}, role: worker } }
    spec:
      serviceAccountName: worker
      containers:
        - name: worker
          image: {{image_registry}}/{{image_repository}}:{{image_tag}}
          command: ["/app/worker"]
          env: [{ name: ACCB_ROLE, value: worker }]
