apiVersion: v1
kind: ServiceAccount
metadata:
  name: api
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::{{repo_slug}}:role/{{repo_slug}}-dev-api
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: worker }
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: job }
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: cron }
