apiVersion: v1
kind: ServiceAccount
metadata:
  name: api
  annotations:
    iam.gke.io/gcp-service-account: {{repo_slug}}-dev-api@PROJECT_ID.iam.gserviceaccount.com
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: worker }
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: job }
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: cron }
