apiVersion: v1
kind: ServiceAccount
metadata:
  name: api
  annotations:
    azure.workload.identity/client-id: {{repo_slug}}-dev-api
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: worker }
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: job }
---
apiVersion: v1
kind: ServiceAccount
metadata: { name: cron }
