variable "primary_region" { type = string, default = "{{primary_region_dev}}" }
variable "env_var_prefix" { type = string, default = "{{env_var_prefix_dev}}" }
variable "secret_path" { type = string, default = "{{secret_path_dev}}" }
variable "image_repository" { type = string, default = "{{image_repository}}" }
variable "image_tag" { type = string, default = "{{image_tag}}" }
