terraform {
  required_version = ">= 1.6.0, < 2.0.0"
  required_providers {
    google = {
      source  = "hashicorp/google"
      version = "~> 5.0"
    }
  }
}

locals {
  common_tags = { repo = "{{repo_slug}}", tool = "accb" }
  common_labels = { repo = "{{repo_slug}}", tool = "accb" }
}

provider "google" {
  
  
}
